*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Noto Sans',sans-serif;
}

body{
    min-height:100vh;
    background:#fff;
    display:flex;
    flex-direction:column;
}

header{
    background:#555;
    color:#fff;
    height:70px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 30px;
}

header p{
    font-size:28px;
    font-weight:bold;
}

#menu-principal ul{
    display:flex;
    list-style:none;
    gap:20px;
}

#menu-principal a{
    color:white;
    text-decoration:none;
    font-size:15px;
}

main{
    flex:1;
}

#inicio{
    height:600px;

    background-image:url("../img/caminhaoAzul.png");
    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
}

#inicio h1{
    color:white;
    font-size:40px;
    width:700px;
    text-align:center;

    background:rgba(0,0,0,.45);
    padding:20px;
}

section h2{
    text-align:center;
    margin:35px 0;
    font-size:30px;
}

.sobre{
    width:90%;
    max-width:1000px;

    margin:0 auto 60px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    border:1px solid #ccc;
    padding:30px;
}

.sobre p{
    width:45%;
    font-size:22px;
}

.sobre img{
    width:320px;
}


.caixa{
    width:90%;
    max-width:1000px;

    margin:0 auto 60px;

    display:flex;
    justify-content:space-around;
}

.caixa-link{
    border:1px solid #ccc;
    width:220px;
    padding:15px;
    text-align:center;
}

.caixa-link img{
    width:100%;
    height:130px;
    object-fit:cover;
}

.caixa-link a{
    text-decoration:none;
    color:black;
}

.caixa-link p{
    margin-top:10px;
    font-weight:bold;
}


#contato{
    width:90%;
    max-width:1000px;
    margin:0 auto 60px;
}

#contato form{
    width:320px;

    display:flex;
    flex-direction:column;
    gap:10px;

    float:left;
}

#contato input{
    padding:8px;
}

#contato button{
    width:120px;
    padding:10px;
}

#contato p{
    margin-left:420px;
    margin-top:50px;
    font-size:22px;
}

.contato-container{
    width:90%;
    max-width:1000px;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.contato-container form{
    width:320px;

    display:flex;
    flex-direction:column;
    gap:10px;
}

.contato-container p{
    width:350px;
    text-align:center;
    font-size:22px;
}

footer{
    background:#555;
    color:white;
    text-align:right;
    padding:15px 30px;
}